html {box-sizing: border-box}
*,*::before,*::after{box-sizing: inherit}

body {
    font-family: "Graphik Webfont", "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
    color: #222222;

}

.top {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 5fr 4fr;
    text-decoration: none;
    border-bottom: solid 1px #ccc;
    font-size: 14px;
}

#logo {
    text-align: right;
    padding: 13px 0;
}

.topForm {
    width: 95%;
    position: relative;
    top: 0;
    padding: 13px 0;
}

.topLinks {
    display: flex;
    align-items:center;
 
    margin-right: 5px;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 40px;
    padding: 0 15px;
    border-left: solid 1px #ccc; 
}

#sell {
    min-width: 62px;
}

.unitI {   
    width: 20px;
}

.unitA {
    text-decoration: none;
    font-size: 12px;
    font-weight: 100;
    margin: auto;
    color: #222222;
}

#account ul li:first-of-type {
    border-left: none;
}
   
#searchBar {
    width: 60%;
    height: 34px;
    border: solid 1px #ccc;
    box-shadow: #bbb 0px 1px 2px 0px inset;
    border-radius: 3px 0px 0px 3px;
    position: absolute;
    padding: 10px;
    outline: none;
}

::placeholder {
    color: #bbb;
    font-size: 12px;
    font-weight: 100px;
}

#searchButton {
    width: 15%;
    height: 35px;
    line-height: 17px;
    text-align: center;
    font-size: 14px;
    background-color: #222222;
    color: white;
    border-radius: 0 3px 3px 0;
    position: absolute;
    left: 60%;
}

#searchButton:hover {
    background-color: #3c3c3c;
}

.navBar{
    padding: 0 20px;
    border-bottom: solid 1px #ccc;
    font-size: 14px;
    font-weight: 100;
    color: #222;
    height: 35px;

}

.navigation {
    display:flex;
    align-items:center;
    justify-content:space-between;
    height: 100%;
    margin: 0;
}

.navigation li {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navItems:hover {
    border-bottom: solid  2px #f45800
}

aside{
    float: left;
    padding: 5px;
    margin: 15px;
    border: solid 1px #ccc;
    border-radius: 3px;
    width: 13%;
    min-width: 200px;
}

fieldset {
    border: none;
    padding: 3px;
    margin: 5px 2px;
    font-size: 10px;
    font-weight: 100;
}

legend {
    font-weight: 400;
    font-size: 12px;
}

hr {
    border-top: 1px solid #ccc;
    width: 95%;
}

#special {
    background-color: #fbead8;
    padding: 3px;
    margin: 5px;
}

fieldset a {
    text-decoration: none;
    margin-left: 13px;
    color: #222222;
}

.more {
    margin: 0;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* input[type='radio'] {
    color: #f45800;
    background-color: white;
  
}

input[type='radio']:checked::before {
    color: #f45800;
    background-color: white;
    
}

input[type='radio']:checked::after {
    color: #f45800;
    background-color: white;
   
}

input[type='radio']:checked {
    color: #f45800;
    background-color: white;
   
} */

#whereBar {
    margin: 0 3px 0 15px;
    height: 30px;
    width: 65%;
    border: solid 1px #ccc;
    box-shadow: #bbb 0px 1px 2px 0px inset;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    outline: none;
}

#whereButton {
    border: solid 1px #ccc;
    border-radius: 3px 3px 3px 3px;
    background-image: url("./assets/arrow.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    box-shadow: #bbb 0px 1px 2px 0px inset;
    margin: 0 0 0 3px;
    position: relative;
    top: 8px;
}

#lowBar {
    margin: 0 3px 0 15px;
    height: 30px;
    width: 28%;
    border: solid 1px #ccc;
    box-shadow: #bbb 0px 1px 2px 0px inset;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    outline: none;
}

#highBar {
    margin: 0 3px 0 3px;
    height: 30px;
    width: 28%;
    border: solid 1px #ccc;
    box-shadow: #bbb 0px 1px 2px 0px inset;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    outline: none;
}

#rangeButton {
    border: solid 1px #ccc;
    border-radius: 3px 3px 3px 3px;
    background-image: url("./assets/arrow.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    box-shadow: #bbb 0px 1px 2px 0px inset;
    margin: 0 0 0 3px;
    position: relative;
    top: 7px;
}

#shipTo {
    height: 34px;
    width: 100%;
    border: solid 1px #ccc;
    box-shadow: #bbb 0px 1px 2px 0px inset;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    outline: none;
    color: #ccc;
    background-color: white;
}

.itemContainer {
    margin: 15px;
   
}

#results {
    font-size: 12px;
}
#results a {
    text-decoration: none;
    color: #222;
}

.grid{

    margin: 15px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    width: 24.5%;

}

#itemList {
    margin: 15px;
    color: #222;
    font-size: 14px;
    width: 250px;
   

 


}

#itemList a {
    text-decoration: none;
}

.pic {
    width: 200px;
}

.title {
    color: #222;
    text-decoration: none;
}

.store {
    color: #222;
    font-weight: 100;
    font-size: 12px;
}

.review {
    color: #222;
    font-size: 12px; 
}

.review img {
    height: 14px; 
}

.price {
    color: #222;
    font-size: 16px;
}

